<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Title</key>
		<string>Click toolbar item to access settings</string>
		<key>Type</key>
		<string>Group</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>F7</string>
		<key>Key</key>
		<string>preferences</string>
		<key>Type</key>
		<string>Hidden</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>F8</string>
		<key>Key</key>
		<string>activate</string>
		<key>Type</key>
		<string>Hidden</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>active</string>
		<key>Type</key>
		<string>Hidden</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>J</string>
		<key>Key</key>
		<string>scrolldown</string>
		<key>Type</key>
		<string>Hidden</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>K</string>
		<key>Key</key>
		<string>scrollup</string>
		<key>Type</key>
		<string>Hidden</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>H</string>
		<key>Key</key>
		<string>scrollleft</string>
		<key>Type</key>
		<string>Hidden</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>L</string>
		<key>Key</key>
		<string>scrollright</string>
		<key>Type</key>
		<string>Hidden</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<real>40</real>
		<key>Key</key>
		<string>scrollpx</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>F</string>
		<key>Key</key>
		<string>pagedown</string>
		<key>Type</key>
		<string>Hidden</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>W</string>
		<key>Key</key>
		<string>pageup</string>
		<key>Type</key>
		<string>Hidden</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>Shift+H</string>
		<key>Key</key>
		<string>pageleft</string>
		<key>Type</key>
		<string>Hidden</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>Shift+L</string>
		<key>Key</key>
		<string>pageright</string>
		<key>Type</key>
		<string>Hidden</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<real>40</real>
		<key>Key</key>
		<string>pagepx</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>G</string>
		<key>Key</key>
		<string>home</string>
		<key>Type</key>
		<string>Hidden</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>Shift+G</string>
		<key>Key</key>
		<string>end</string>
		<key>Type</key>
		<string>Hidden</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>I</string>
		<key>Key</key>
		<string>back</string>
		<key>Type</key>
		<string>Hidden</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>O</string>
		<key>Key</key>
		<string>forward</string>
		<key>Type</key>
		<string>Hidden</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>Shift+I</string>
		<key>Key</key>
		<string>skipback</string>
		<key>Type</key>
		<string>Hidden</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>Shift+O</string>
		<key>Key</key>
		<string>skipforward</string>
		<key>Type</key>
		<string>Hidden</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<real>3</real>
		<key>Key</key>
		<string>skip</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>U</string>
		<key>Key</key>
		<string>up</string>
		<key>Type</key>
		<string>Hidden</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>T</string>
		<key>Key</key>
		<string>top</string>
		<key>Type</key>
		<string>Hidden</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>/</string>
		<key>Key</key>
		<string>focus</string>
		<key>Type</key>
		<string>Hidden</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>Esc</string>
		<key>Key</key>
		<string>page</string>
		<key>Type</key>
		<string>Hidden</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>Y</string>
		<key>Key</key>
		<string>link</string>
		<key>Type</key>
		<string>Hidden</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>Shift+C</string>
		<key>Key</key>
		<string>center</string>
		<key>Type</key>
		<string>Hidden</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>Shift+W</string>
		<key>Key</key>
		<string>wrap</string>
		<key>Type</key>
		<string>Hidden</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>Z</string>
		<key>Key</key>
		<string>zoomin</string>
		<key>Type</key>
		<string>Hidden</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>Shift+Z</string>
		<key>Key</key>
		<string>zoomout</string>
		<key>Type</key>
		<string>Hidden</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<real>10</real>
		<key>Key</key>
		<string>zoominc</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>X</string>
		<key>Key</key>
		<string>zoomreset</string>
		<key>Type</key>
		<string>Hidden</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>memoryzoom</string>
		<key>Type</key>
		<string>Hidden</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>R</string>
		<key>Key</key>
		<string>reload</string>
		<key>Type</key>
		<string>Hidden</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>C</string>
		<key>Key</key>
		<string>close</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>N</string>
		<key>Key</key>
		<string>next</string>
		<key>Type</key>
		<string>Hidden</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>P</string>
		<key>Key</key>
		<string>previous</string>
		<key>Type</key>
		<string>Hidden</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>spacebar</string>
		<key>Type</key>
		<string>Hidden</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>Forward, Siguiente, Mais, Suivant, Avanti, Vorwärts, Следующая, 下一页, 次へ, 다음, Tiếp, अगला, التالية</string>
		<key>Key</key>
		<string>nextpattern</string>
		<key>Type</key>
		<string>Hidden</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>Back, Anterior, Prévio, Précédent, Indietro, Zurück, Предыдущая, 上一页, 前へ, 이전, Trước, पीछे, السابقة</string>
		<key>Key</key>
		<string>previouspattern</string>
		<key>Type</key>
		<string>Hidden</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>.</string>
		<key>Key</key>
		<string>nexttab</string>
		<key>Type</key>
		<string>Hidden</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>,</string>
		<key>Key</key>
		<string>previoustab</string>
		<key>Type</key>
		<string>Hidden</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>numbmod</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>numbers</string>
		<key>Type</key>
		<string>Hidden</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>D</string>
		<key>Key</key>
		<string>reader</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>hack</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>mail.google.com</string>
		<key>Key</key>
		<string>black</string>
		<key>Type</key>
		<string>Hidden</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>wordreference.com</string>
		<key>Key</key>
		<string>green</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>Shift+U</string>
		<key>Key</key>
		<string>parent</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>V</string>
		<key>Key</key>
		<string>tab</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>Shift+V</string>
		<key>Key</key>
		<string>window</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>M</string>
		<key>Key</key>
		<string>ahome</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>http://www.apple.com/startpage/</string>
		<key>Key</key>
		<string>ahomepage</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>about:blank</string>
		<key>Key</key>
		<string>tabpage</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>about:blank</string>
		<key>Key</key>
		<string>windowpage</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>S</string>
		<key>Key</key>
		<string>swappage</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>Enter</string>
		<key>Key</key>
		<string>click</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>developer.apple.com</string>
		<key>Key</key>
		<string>blue</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>applet, audio, button, embed, div[tabindex], input, object, select, textarea, video</string>
		<key>Key</key>
		<string>grey</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>preferencesbox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>activatebox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>scrolldownbox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>scrollupbox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>scrollleftbox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>scrollrightbox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>pagedownbox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>pageupbox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>pageleftbox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>pagerightbox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>homebox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>endbox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>backbox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>forwardbox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>skipbackbox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>skipforwardbox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>reloadbox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>closebox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>nextbox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>previousbox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>upbox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>parentbox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>topbox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>focusbox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>pagebox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>centerbox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>clickbox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>wrapbox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>linkbox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>zoominbox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>zoomoutbox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>zoomresetbox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>readerbox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>setpagebox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>swappagebox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>ahomebox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>tabbox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>windowbox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>nexttabbox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>previoustabbox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>numbersbox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>Shift+Enter</string>
		<key>Key</key>
		<string>clicknew</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>twodigit</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>;</string>
		<key>Key</key>
		<string>movetableft</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>'</string>
		<key>Key</key>
		<string>movetabright</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>movetableftbox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>movetabrightbox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>B</string>
		<key>Key</key>
		<string>frame</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>framebox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>Shift+F8</string>
		<key>Key</key>
		<string>force</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>forcebox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>hack</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>input[placeholder="Search MDN"], input#searchFocus</string>
		<key>Key</key>
		<string>red</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string> </string>
		<key>Key</key>
		<string>yellow</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>selection</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>mutate</string>
	</dict>
	<dict>
		<key>Key</key>
		<string>custom</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>#nextlink, img[src*="Next"], a[href="#next"], #ap[onclick="advance()"]</string>
		<key>Key</key>
		<string>nextelements</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>#previouslink, img[src*="Previous"], a[href="#prev"]</string>
		<key>Key</key>
		<string>previouselements</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string> </string>
		<key>Key</key>
		<string>brown</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>Ctrl+Space</string>
		<key>Key</key>
		<string>setmark</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>Ctrl+Shift+Space</string>
		<key>Key</key>
		<string>jumpmark</string>
	</dict>
</array>
</plist>
